<fieldset>
  <label>
    <%- if @search_term.present? -%>
      <h1>Search results for <%= @search_term %></h1>
    <%- else -%>
      <h1>Search GOV.UK</h1>
    <%- end -%>
  </label>

  <input name="q" value="<%= @search_term %>"/>

</fieldset>

<fieldset>
  <button type="submit" class="button">Search</button>
</fieldset>
